html {
  font-size: 0.9rem;
}

body {
	background: none;
}

section .item, #languages, #interests, #skills {
	page-break-inside: avoid;
}

#basics {
	border-top: 0;
}

header {
	background: none;
	margin-bottom: 0;
  padding-top: 40px;
	padding-bottom: 10px;
}

header h1 {
	color: black;
}

header h2 {
	color: black;
}

.hidden-print {
	display: none!important;
}